#mynav {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    color: white;
    height: 10vh;
    align-items: center;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
}
#mynavblack {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    color: white;
    height: 10vh;
    align-items: center;
    /* margin-right: 20px; */
    /* margin-left: 20px; */
    background-color: rgb(26, 26, 26);
    padding-left: 20px;
    padding-right: 20px;
}
#mynav_tab {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    color: azure;
}

.mynav_element {
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    
}
.mynav_link {
    height: 40px;
    width: 90px;
    background-color: rgb(238,108,77,0%);
    color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.mynav_linkblack {
    height: 40px;
    width: 90px;
    background-color: rgba(194, 194, 194, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.mynav_link:hover{
    height: 40px;
    width: 90px;
    background-color: rgb(238,108,77,100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition-duration: 0.5s;
}
.mynav_linkblack:hover{
    height: 40px;
    width: 90px;
    background-color: rgb(238,108,77,100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition-duration: 0.5s;
}
#mynav_logo{
    height: 50px;
    width: auto;
}
#hero_video {
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: -1000;
    width: 100%;
}
#mytitle {
    font-weight: bold;
    font-size: 70px;
    color:#EE6C4D;
}
#myparagraph{
    font-size: 25px;
    color:rgb(34, 34, 34);
    text-align: center;
}
span{
    color: rgb(238,108,77,100%);
}
#scroll{
    width: 32px;
    height: auto;
    padding-top: 140px;
}
#mycalltoaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: white;
    top: 0vh;
    position: relative; 
    border-radius: 5px;
    height: 90vh;
}
#me{
    border-radius: 8px;
    margin: 70px 0;
    display: block;
    max-width: 100%;
}
.cooming{
    pointer-events: none;
    cursor: default;
}
#calltoaction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
#macbook{
    display: flex;
    width: 500px;
    max-width: 80%;
    margin: auto;
}

.mybutton {
    background-color: rgb(238,108,77,0%);
    height: 48px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
    border-color: rgb(238,108,77,100%);
    border-width: 2px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(238,108,77,100%);
    transition-duration: 0.5s;
}

.mybutton:hover{
    background-color: rgb(238,108,77,100%);
    border-color: rgb(238,108,77,100%);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}
#mycaption {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    position: relative;
    margin: auto;
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 25px;
    flex-direction: column;
    color: rgb(34, 34, 34);

}
#mycoreproblem {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    max-width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: rgb(238,108,77,100%);
    padding-bottom: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#mycoreproblem_tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    flex-wrap: wrap;
    align-items: center;
    /* position: relative; */
    /* align-items: center; */
}
.captiontext{
    font-size: 17px;
    color:rgb(34, 34, 34);
    font-weight: normal;
    line-height: 1.5;
    max-width: 400px;
    
    
}
.titletext{
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    color: rgb(34, 34, 34);
}
a{
    color: rgb(197, 197, 197);
    transition-duration: 0.5s;
}
a:hover{
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}
.mycoreproblem_element{
    max-width: 90%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.myimage {
    opacity: 1;
    margin-bottom: 35px;
    -webkit-box-shadow: 1px 0px 71px -56px rgba(0,0,0,0.37);
    -moz-box-shadow: 1px 0px 71px -56px rgba(0,0,0,0.37);
    box-shadow: 1px 0px 71px -56px rgba(0,0,0,0.37);
    transition-duration: 0.5s;
}
.myimage:hover {
    opacity: 0.8;
    margin-bottom: 35px;
    -webkit-box-shadow: 1px 0px 71px -56px rgba(0,0,0,0.37);
    -moz-box-shadow: 1px 0px 71px -56px rgba(0,0,0,0.37);
    box-shadow: 1px 0px 71px -56px rgba(0,0,0,0.37);
    transition-duration: 0.5s;
}
.myfooter{
    max-width: 50%;
    min-width: 40%;
    margin:auto;
    padding-top: 7vh;
}
.myfooter2{
    max-width: 50%;
    min-width: 40%;
    margin:auto;
    padding-top: 7vh;
    padding-bottom: 90vh;
}
.myfooter3{
    max-width: 50%;
    min-width: 40%;
    margin:auto;
    padding-top: 7vh;
    padding-bottom: 165vh;
}
.myfooter_element{
    padding-bottom: 50px;
    height: 200px;
}
.myfooter_title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 15px;
    color: rgb(238,108,77,100%);
}
.myfeature_title{
    font-size: 34px;
    line-height: 24px;
    font-weight: 600;
    padding-bottom: 25px;
    color: rgb(238,108,77,100%);
}
.featureimg{
    max-width: 80%;
    margin: auto;
    align-items: center;
    opacity: 1;
    border-radius: 10px;
    margin-bottom: 50px;
    -webkit-box-shadow: 1px 0px 39px -5px rgba(0,0,0,0.32);
-moz-box-shadow: 1px 0px 39px -5px rgba(0,0,0,0.32);
box-shadow: 1px 0px 39px -5px rgba(0,0,0,0.32);
    transition-duration: 0.5s;
}
.featureimg:hover{
    opacity: 0.6;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
    -webkit-box-shadow: 1px 0px 39px -5px rgba(0,0,0,0.32);
-moz-box-shadow: 1px 0px 39px -5px rgba(0,0,0,0.32);
box-shadow: 1px 0px 39px -5px rgba(0,0,0,0.32);
    transition-duration: 0.5s;
}
.myfooter_text{
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
    color: #505050;
    padding-bottom: 100px;
    padding-top: 30px;
}
span{
    font-weight: 600;
}
.mydivisor{
    margin: auto;
    max-width: 50%;
    min-width: 40%;
    border-color:#ececec; ;
}
.mydivisor2{
    margin: auto;
    border-color:#ececec; ;
}
#myfooter_link{
    color: #181818;
    transition-duration: 0.5s;
    font-weight: 500;
}
#myfooter_link:hover{
    color:rgb(238,108,77,100%)!important;
    transition-duration: 0.5s;
}
#license {
    color: rgb(19, 19, 19);
    font-weight: 600;
}
#license_text{
    font-size: 18px;
    color: #696969;
    font-weight: 300;
}

@media only screen and (max-width: 1450px) {
    .myfooter{
        max-width: 68%;
    }
    .mydivisor{
        max-width: 68%;
    }
}
@media only screen and (max-width: 1000px) {
    .myfooter{
        max-width: 80%;
    }
    .mydivisor{
        max-width: 80%;
    }
}
@media only screen and (max-width: 850px) {
    .myfooter{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 7vh;
        /* padding-bottom: 35vh; */
        height: 80vh;
    }
    .mydivisor{
        max-width: 90%;
    }
    .footerdiv{
        width: 80%;
        padding-right: 0px;
        height: auto;
        padding-bottom: 50px;
    }
}
@media only screen and (max-width: 520px) {
    .myfooter{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 7vh;
        /* padding-bottom: 35vh; */
        height: 80vh;
    }
    .mydivisor{
        max-width: 90%;
    }
    .footerdiv{
        width: 100%;
        padding-right: 0px;
        height: auto;
        padding-bottom: 110px;
    }
    .myfooter3{
        margin:auto;
        padding-top: 7vh;
        padding-bottom: 125vh;
    }
    .myfooter_element {
        padding-bottom: 66px;
        height: 200px;
    }
}